body{
  background-color: #888888;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #fff;
  text-align: center;
} 

p{
  color: #fff;
  font-size: 25px;
  margin: 10px;
}